!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/fixes.css')
    link(rel='stylesheet', href='/css/delineate.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/jquery.gridster.min.css')

    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.js')
    script(type='text/javascript', src='http://code.jquery.com/ui/1.10.2/jquery-ui.js')
    script(type='text/javascript', src='http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js')
    script(type='text/javascript', src='/javascripts/d3.v2.min.js')
    script(type='text/javascript', src='/javascripts/delineate.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.min.js')
    script(type='text/javascript', src='/javascripts/chartdFunctions.js')
    script(type='text/javascript', src='/metrics')
    script(type='text/javascript', src='/javascripts/chartd-client.js')
    script(type='text/javascript', src='/javascripts/jquery.gridster.min.js')
    script(type='text/javascript', src='/javascripts/hallo.js')

  body#index
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="#") ChartD
          ul.nav
            li.active.dropdown
              a.dropdown-toggle(href="#",data-toggle="dropdown") Graphs
                b.caret
              ul.dropdown-menu
                li
                  a(href='#', onclick="addNewChart([]);configureChart('chart'+chartCounter);") Create new Chart
                li
                  a(href='#', onclick="addNewTextBox()") Create new Textbox
                li.divider
                li
                  a(href='#', onclick='addChart(0)') Cache Hit Rate
                li
                  a(href='#', onclick='addChart(1)') Network Traffic
                li
                  a(href='#', onclick='addChart(2)') CPU
          ul.btn-group(data-toggle="buttons-radio")
            a#pageModeReadOnly.btn.btn-primary
              i.icon-lock
              |  Read-Only
            a#pageModeLayout.btn.btn-success
              i.icon-move
              |  Layout
            a#pageModeContent.btn.btn-warning
              i.icon-pencil
              |  Content                  
    div#contents.container
      p How long back ? &nbsp;
        input#lookback(value=1800)
        &nbsp;&nbsp; 1800= 30 mins, 43200= 12 Hours, 604800= 1 week.
      div.container.gridster
        ul

  script(type='text/javascript')
    var layout;
    var grid_size = 50;
    var grid_margin = 5;
    var grid_height;
    var page_mode= "readOnly"; // readOnly, layout, content

    $(function() {
      layout = $(".gridster > ul").gridster({
        widget_margins: [grid_margin, grid_margin],
        widget_base_dimensions: [grid_size, grid_size],
        max_size_x: 24,
        max_size_y: 24
      }).data('gridster');
      addNewChart( [{ renderer:'line', value:'sin("Foo")' }] );
      addNewChart( [{ renderer:'line', value:'sin("Bar",4)' }] );
      addNewChart( [{ renderer:'line', value:'stats.statsd.ceres.flushTime' }] );


      // Start in read-only mode
      $("#pageModeReadOnly").button('toggle')
      setPageModeReadOnly();

      $("#pageModeReadOnly").on("click", setPageModeReadOnly)
      $("#pageModeLayout").on("click", setPageModeLayout)
      $("#pageModeContent").on("click", setPageModeContent)
    });

    function updatePageCss() {
      $("body").removeClass("pageMode-readonly");
      $("body").removeClass("pageMode-layout");
      $("body").removeClass("pageMode-content");
      $("body").addClass("pageMode-" + page_mode);
    }

    function setPageModeReadOnly() {
      page_mode= "readonly";
      layout.disable();
      $( ".layout_block" ).resizable( "option", "disabled", true );
      $( ".layout_block.textbox" ).hallo({editable: false});
      updatePageCss();
    }

    function setPageModeLayout() {
      page_mode= "layout";
      layout.enable();
      $( ".layout_block" ).resizable( "option", "disabled", false );
      $( ".layout_block.textbox" ).hallo({editable: false});
      updatePageCss();
    }

    function setPageModeContent() {
        page_mode= "content";
        layout.disable();
        $( ".layout_block" ).resizable( "option", "disabled", true );
        $( ".layout_block.textbox" ).hallo({editable: true});
        updatePageCss();
    }

    var offThePegCharts= [
      [{value:'alias(asPercent(stats_counts.cache.hit,sum(stats_counts.cache.{hit,miss})), "Cache Hit %age")',renderer:'area'}],
      [{value:'alias(scale(sum(stats.*.network_interface.*.bytes_total_sec),1000000),"Network Traffic B/s")', renderer:'line'}],
      [{value:'alias(scale(sum(stats_counts.*.processor.*.pct_user_time),100000),"CPU %age Used (User)")',renderer:'area'}]
    ];

      function addChart(chartIndex) {
        addNewChart( offThePegCharts[chartIndex] );
      }
